{
    "AWSTemplateFormatVersion": "2010-09-09",

    "Description": "This is auto generated cloudformation file.",

    "Resources": {
        "{{ model.vpc.value.id | replace('-','') }}" : {
            "Type" : "{{ model.vpc.typestring }}",
            "Properties" : {
                "CidrBlock" : "{{ model.vpc.value.cidr_block }}",
                "InstanceTenancy" : "{{ model.vpc.value.instanceTenancy }}"
            }
        }
{% for gateway in model.internet_gateways %}
{% if loop.first %},{% endif %}
        "{{ gateway.value.id | replace('-','') }}" : {
           "Type" : "{{ gateway.typestring }}"
        }
{% if not loop.last %},{% endif %}
{% endfor %}
{% for attachment in model.gateway_attachments %}
{% if loop.first %},{% endif %}
        "{{ (attachment.value.vpc_id + attachment.gateway.value.id) | replace('-','') }}" : {
           "Type" : "{{ attachment.typestring }}",
           "Properties" : {
               "VpcId" : { "Ref" : "{{ attachment.value.vpc_id | replace('-','') }}" },
               "InternetGatewayId" : { "Ref" : "{{ attachment.gateway.value.id | replace('-','') }}" }
           }
        }
{% if not loop.last %},{% endif %}
{% endfor %}
{% for subnet in model.subnets %}
{% if loop.first %},{% endif %}
        "{{ subnet.value.id | replace('-','') }}" : {
            "Type" : "{{ subnet.typestring }}",
            "Properties" : {
                "AvailabilityZone" : "{{ subnet.value.availability_zone }}",
                "CidrBlock" : "{{ subnet.value.cidr_block }}",
                "VpcId" : { "Ref" : "{{ subnet.value.vpc_id | replace('-','') }}" }
            }
        }
{% if not loop.last %},{% endif %}
{% endfor %}
{% for route_table in model.route_tables %}
{% if loop.first %},{% endif %}
        "{{ route_table.value.id | replace('-','') }}" : {
            "Type" : "{{ route_table.typestring }}",
            "Properties" : {
                "VpcId" : { "Ref" : "{{ route_table.value.vpc_id | replace('-','') }}" }
            }
        }
{% if not loop.last %},{% endif %}
{% endfor %}
{% for subnet_route_table_association in model.subnet_route_table_associations %}
{% if not subnet_route_table_association.value.main %}
{% if loop.first %},{% endif %}
        "{{subnet_route_table_association.value.id | replace('-','')}}" : {
            "Type" : "{{ subnet_route_table_association.typestring }}",
            "Properties" : {
                "RouteTableId" : { "Ref" : "{{ subnet_route_table_association.value.route_table_id | replace('-','') }}" },
                "SubnetId" : { "Ref" : "{{ subnet_route_table_association.value.subnet_id | replace('-','') }}" }
            }
        }
{% endif %}
{% if not loop.last %},{% endif %}
{% endfor %}
{% for instance in model.instances %}
        "{{instance.id | replace('-','')}}" : {
            "Type" : "{{ instance.typestring }}",
            "Properties" : {
            }
        }
{% endfor %}
{% for route in model.routes %}
{% if loop.first %},{% endif %}
        "{{ (route.route_table.value.id + route.value.destination_cidr_block) | replace('/','') | replace('.','') | replace('-','') }}": {
            "Type" : "{{ route.typestring }}",
            "Properties" : {
                "DestinationCidrBlock" : "{{ route.value.destination_cidr_block }}"
                ,"RouteTableId" : { "Ref" : "{{ route.route_table.value.id | replace('-','') }}" }
{% if route.value.gateway_id is not none %}
                ,"GatewayId" : { "Ref" : "{{ route.value.gateway_id | replace('-','') }}" }
{% endif %}
{% if route.value.instance_id is not none %}
                ,"InstanceId" : { "Ref" : "{{ route.value.instance_id | replace('-','') }}" }
{% endif %}
{% if route.value.networkinterface_id is defined %}
                ,"NetworkInterfaceId" : { "Ref" : "{{ route.value.networkinterface_id | replace('-','') }}" }
{% endif %}
            }
        }
{% if not loop.last %},{% endif %}
{% endfor %}
    }
}