{
    "AWSTemplateFormatVersion": "2010-09-09",

    "Description": "This is auto generated cloudformation file.",

    "Resources": {
        "MyVPC" : {
            "Type" : "{{ template.vpc.typestring }}",
            "Properties" : {
                "CidrBlock" : "{{ template.vpc.value.cidr_block }}",
                "InstanceTenancy" : "{{ template.vpc.value.instanceTenancy }}"
            }
        },
        {% for subnet in template.subnets %}
        "MySubnet" : {
            "Type" : "{{ subnet.typestring }}",
            "Properties" : {
                "AvailabilityZone" : "{{ subnet.value.availabilityZone }}",
                "CidrBlock" : "{{ subnet.value.cidr_block }}",
                "VpcId" : { "Ref" : "{{ subnet.value.vpc_id }}" }
            }
        },
        {% endfor %}
        {% for route_table in template.route_tables %}
        "RouteTable" : {
            "Type" : "{{ route_table.typestring }}",
            "Properties" : {
                "VpcId" : "{{ route_table.value.vpc_id }}"
            }
        },
        {% endfor %}
        {% for subnet_route_table_association in template.subnet_route_table_associations %}
        "SubnetRouteTableAssociation" : {
            "Type" : "{{ subnet_route_table_association.typestring }}",
            "Properties" : {
                "RouteTableId" : { "Ref" : "" },
                "SubnetId" : ""
            }
        },
        {% endfor %}
    }
}